* {
    font-family: 'Roboto', sans-serif;
}

.head, .content, .contact, .footer, blockquote {
    margin: 0;
    padding: 1rem 10rem;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 0.5em 2em;
    border-radius: 10px;  
    border: none;
    font-weight: 700;
}


ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;

}

li {
    color: #f9faf8;
    font-size: 18px;
    margin: 0 8px;
    padding: 0;   
}


blockquote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    max-width: 800px;
    padding: 5rem 10rem 8rem;
}

blockquote > * {
    font-style: normal;
    font-weight: 600;
    text-align: right;
}

img {
    width: 400px;
    height: auto;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.head {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    min-height: 455px;
}

.header {
    display: flex;
    align-items: space-between;
    margin-bottom: 90px;
}

.header2 {
    display: flex;
    align-items: center;
}

.left, .right {
    flex: 1;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
    margin-right: auto;
}

.left > div {
    color: white;
}

.title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.box {
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    align-items: center;
    max-width: 15em;
    /* max-width: 150px; */
    text-align: center;
}

.footer {
    background-color: #1F2937;
    color: #f9faf8;
    text-align: center;
    align-self: stretch;   
}

.catbox {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 25px;
    border: 2px #3882F6 solid;
}

.info {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-bottom: 1em;
}

.contact {
    display: flex;
    background-color: #3882F6;
    align-items: center;
    justify-content: center;
    margin: 7rem;
    border-radius: 10px;
}

.contact  button {
    border: solid #F9FAF8;
}

.contact * {
    color: #F9FAF8;
}

