

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;

}

li {
    color: #f9faf8;
    font-size: 18px;
    margin: 0 8px;
    padding: 0;
    
}

.head, .content, .contact, .footer {
    margin: 0;
    padding: 8px 150px;
}

.head {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    min-height: 300px;
}

.header {
    display: flex;
    align-items: space-between;
}

.header2 {
    display: flex;

}

.left, .right {
    flex: 1;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
    margin-right: auto;
}

.left > div {
    color: white;
}

.title {
    font-size: 48px;
    font-weight: 800;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    background-color: #1F2937;
    color: #f9faf8;
    text-align: center;
    align-self: stretch;
    
}