

body {
    margin: 0;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;

}

li {
    color: #f9faf8;
    font-size: 18px;
    margin: 0 8px;
    padding: 0;
    
}

.head {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 300px;
}

.header {
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
    margin-right: auto;
}